{%block content%}
<html>
    <head>
        {% load static %}
        <title>Clauses : English : Amrita Online Lab </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
       <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@700&family=Pattaya&display=swap" rel="stylesheet">
        
    <!--<script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/brython@3.10.5/brython.min.js">
    </script>
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/brython@3.10.5/brython_stdlib.js">
    </script>-->

    </head>
    <style>
  
      body{
      background-image: url("{% static 'images/bgg.png' %}");
      background-repeat: no-repeat;
      background-attachment: scroll; 
      background-size: 100% 100%;
      }
    </style>
    <body>
        
            <script type="text/python" src="compoundonly.py">
           
            </script>
       
            <div class="container" >
               <!-- <img src="{% static 'images/head.jpg' %}" style="background-position: center;background-size: cover;width: 100%;min-height:30vh;" />-->
                    <div class="titlesss" style="font-family: 'KoHo', sans-serif;font-size: 48px;font-weight: bold;position: absolute;
                    top: 16%;left: 49%;transform: translate(-50%, -50%);color: white;font-size: 80px;">Clauses</div>   
            </div>
      
            
<html>
<head>
<style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
 
  
  cursor: pointer;
}
#container {
  text-align: center;
}

.back{
  border-radius: 50%;
  background-color: #6db5c4;
  color: black;
  margin-left: 80px;
  margin-top: 1px;
  
}
.button1 {background-color: #B048B5;border-radius: 30px;display: inline-block; } 
.button2 {background-color: #5c405c;border-radius: 30px;display: inline-block; } 
.button3 {background-color: #5c405c;border-radius: 30px;margin-top: 5px;text-align: center;}
.button11 {background-color: #B048B5; text-align: left;} 
.button22 {background-color: #B048B5; text-align: right;} 
</style>
</head>
<body>


<a href='{% url 'main' %}' class="back" >&#8249;</a>
<div id="container">
  
    <button class="button button1" onclick="location.href='{% url 'theory' %}'">Theory </button>
    <button class="button button2" onclick="location.href='{% url 'ex2' %}'">Lab</button>
</div>
</body>
</html>

<!--prompt box javascript code-->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
             
             
<script>
  
  function getT(){
      
      if(document.getSelection)
      {
          var t = document.getSelection().toString();
          //document.getElementById("review").innerHTML='{{ans1}}';
          a='{{ans}}';
          na='{{nta}}';
          coj='{{con}}';
          wa='{{r}}';
          if(t == a.toString()|| t== (a.toString()+',')|| t== (a.toString()+','+' ') || t==(' '+a.toString())|| t==(','+' '+a.toString())) 
           {
               swal({
               title: 'Correct Answer',
                
               text:'Well done,let us move on to next question\n',
               icon: 'success',
               button: 'close',
               
                   });
           }
          else if(t.includes(coj) && t.includes(na) )
          {
              
              swal({
               title: 'Wrong Answer',
               text: 'Hint: The question is asking you to highlight dependent clause and not independent clause',
               icon: 'error',
               button:'Please Try Again',
                  });
             
             
          }
         else if(t.includes(na) && !t.includes(coj))
            {
               swal({
               title: 'Wrong Answer',
               text: 'Hint: The question is asking you to highlight dependent clause and not independent clause',
               icon: 'error',
               button:'Please Try Again',
                  });
            }
            else if(t.includes(wa) && !t.includes(coj))
            {
               swal({
               title: 'Wrong Answer',
               text: 'Hint: A dependent clause is an incomplete thought thus to make the highlighted part of the sentence an incomplete thought you need highlight one more word',
               icon: 'error',
               button:'Please Try Again',
                  });
            }
            else 
            {
               swal({
               title: 'Wrong Answer',
               text: 'Hint: A dependent clause is an incomplete thought with conjuction, subject, verb and object.',
               icon: 'error',
               button:'Please Try Again',
                  });
            }
       

        }
      else{
       if(document.selection){
           var text2 =document.selection.createRange();
           alert(text2);
       }
      } 
  }
</script> 
 <!--prompt box javascript code ends-->   

            
            <!--<p class="c33 c39"><span class="c35 c47">Highligth clause in the given sentence</span></p>-->
            <br>
            
    
                    <body><p style="margin: 30px 90px;font-size:22px"><label for="review"><b>Highlight Dependent clause in the given complex sentence, by selecting the set of words.</b></label></p></body>
            <!--<p id="review" name="w3review"></p>-->
                
            <p style="margin: 10px 90px;font-size:20px"><u>Question:</u> <br><br>{{data}}</p>
            <br>
            <button type="button" value="Submit" onclick="getT()" class="button button11" style="float: left;margin-left: 90px;">Submit</button>
            <a href="{% url 'next2' %}" class="button button22" style="float: right;margin-right: 90px;" >Next >></a>
            <p id="review"><br></p>
            <br>
            <br>
            <div id="container">
              <a href="{% url 'explanation' %}" class="button button3">Explanation!</a>
               </div>
                    
            
            <!--<a href="#" class="previous">&laquo; Previous</a>
            <a href="next.html" class="next">Next &raquo;</a>-->
            
            <!-- Footer -->
<footer class="page-footer font-small blue" style="background-color:#87a0b4;">

    
  </footer>
  
    
    </body>
</html>

{% endblock %}